################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BDX.Model/obj
/BDX.Test/bin/Debug/net6.0
/BDX.Test/obj
/BDX.Model/bin/Debug/net6.0
.vs/BDX.EF/FileContentIndex/3b940c57-d1c9-4e11-a4bd-e0fc4da52673.vsidx
.vs/BDX.EF/FileContentIndex/51745008-52e0-4475-af7b-7f68edac73a4.vsidx
.vs/BDX.EF/FileContentIndex/d1a888f6-77a6-4e05-b1f2-ab0844a3ae50.vsidx
.vs/BDX.EF/FileContentIndex/f8ea1d56-a6b2-4bfa-a8ce-a2294ee2607a.vsidx
